body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfcfcf;
}
:root {
  /* ---------------------COLOR--------------------------------------- */
  /* --primary-text-color: #212121; */
  --main-bg-color: #090e16;
  --primary-bg-color: #2c87c5;
  --transparent-color: ##1f5e88;
  /* -------------------------FONTS----------------------------------- */
  /* ------- Transition -----*/
  --main-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
input {
  box-sizing: border-box;
}
